<table width="100%" class="table columtable">
    <tr>
        <td width="10%"
            style="text-align: center; vertical-align:middle; color: blue;">
            <span style="font-size: medium" ng-bind-html="dateFormatter(selectedData.usedDate)"></span>
            <br>
            <div style="font-size: large;">
                <img ng-src="assets/img/truck-016.ico" alt="" height="15" width="15" src="assets/img/truck-016.ico">{{selectedData.driver}}
            </div>
            
            <div ng-repeat="item in selectedData.assistant">
                {{item}}
                <br>
            </div>
        </td>
        <td width="60%">
            <ul class="custom-ul">
                <li><span
                        class="custom-li-indentation">車型車號:&nbsp;</span>{{selectedData.type}}&nbsp;{{selectedData.lincenseNo}}
                </li>
                <li><span class="custom-li-indentation">收貨地點:</span>
                    <div style="width: 40%; border-right: 1px solid grey;text-align: left;">
                        {{selectedData.starting}}
                    </div>
                    <div style="width: 40%;">
                        送達地點:&nbsp;&nbsp;{{selectedData.terminal}}
                    </div>
                </li>
                <li><span class="custom-li-indentation">載貨內容:</span>
                    <div>{{selectedData.cargoContent}}</div>
                </li>
                <li><span class="custom-li-indentation">備註:</span>
                    <div>{{selectedData.remark}}</div>
                </li>
            </ul>
        </td>
        <td width="30%" style="position: relative;" ng-if="isEditMode == false">
            <ul class="custom-ul">
                <li>
                    <span class="custom-li-indentation">結案:</span>
                    <div>{{selectedData.arriveTime}}</div>
                </li>
                <li>
                    <span class="custom-li-indentation">回程抵達:</span>
                    <div>{{selectedData.returnTime}}</div>
                </li>
            </ul>
            <div class="outputSettingGroup">
                <div style="display: flex;">
                    <span style="padding-right: 30px;">
                        <div>
                            <input type="checkbox" ng-checked="{{assignNote}}">
                            派車便條
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" ng-checked="{{triplicateForm}}">
                            訂購三聯單
                        </div>
                    </span>
                    <div class="form-check form-check-inline" style="position: relative;">
                        <button  style="position: absolute; bottom: 0px;" class="btn btn-primary btn-sm"  onclick="window.print()">確認列印</button>
                    </div>
                </div>
            </div>
        </td>
        <td width="30%" style="position: relative;" ng-if="isEditMode == true">
            <ul class="custom-ul">
                <li>
                    <span class="custom-li-indentation" style="vertical-align: middle;">結案:</span>
                    <input type="time" id="arriveTime" ng-model = "selectedData.arriveTime" value = "{{selectedData.arriveTime}}" class="form-control">
                </li>
                <li>
                    <span class="custom-li-indentation">回程抵達:</span>
                    <input type="time" id="returnTime" ng-model = "selectedData.returnTime" value = "{{selectedData.returnTime}}" class="form-control">
                </li>
            </ul>
            <div class="outputSettingGroup">
                <div class="form-check form-check-inline" style="vertical-align: middle;">
                    <button  class="btn btn-primary btn-sm"  style="font-size: small;" ng-click="saveEdit()">修改</button>
                </div>
            </div>
        </td>
    </tr>
</table>

