<style>
.form-group label {
	font-size: 20px;
}

label.custom-checkbox>span:before, label.custom-radio>span:before {
	min-width: 20px;
	min-height: 20px;
}

margin-left {
	margin-left: 8px;
}
</style>

<div class="modal-content" ng-init="click()">
	<div class="panel-heading">
		<button type="button" class="close" ng-click="$dismiss()"
			aria-label="Close">
			<em class="ion-ios-close-empty sn-link-close"></em>
		</button>
		<h4 class="modal-title" id="myModalLabel">{{selectEmploee}}權限設定</h4>
	</div>
	<div class="modal-body">
		<div class="form-group margin-left" ng-repeat="item in roles">
			<label class="checkbox-inline custom-checkbox nowrap"
				ng-click="click()"> <input type="checkbox"
				ng-model="item.checked"> <span>{{item.val}}</span>
			</label>
		</div>
		<!-- <div style="line-height:25px">已選擇角色:{{showSelectedRole}}</div> -->
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="ok()">儲存</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
	</div>
</div>
