<style>
input.search-input {
    margin-left: -2px;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
}

.bootstrap-select:not ([class*="col-"]):not ([class*="form-control"]):not (.input-group-btn) {
    width: 60px;
}

.table>tbody>tr>td:first-child {
    text-align: right;
}


/* filter左右padding */

tr .form-control {
    padding-left: 2px;
    padding-right: 0px;
}


/* table過濾的padding變小 */

.table>thead>tr>th {
    padding: 3px;
}
</style>
<div class="horizontal-scroll">
    <table width="100%" class="table table-hover table-textcut " st-table="criticalTicket">
        <thead>
            <tr class="sortable ">
                <th st-sort="id" width="5%">單號&nbsp;</th>
                <th st-sort="weaknessid" width="5%">弱點編號</th>
                <th st-sort="priority" width="7%">層級</th>
                <th st-sort="device" width="15%">系統別</th>
                <th st-sort="ticketName" width="55%">弱點名稱</th>
                <th st-sort="createDate" width="5%">成單日</th>
                <th st-sort="expectedDate" width="5%">預計完成日</th>
                <th st-sort="createtimes" width="3%">重複數</th>
            </tr>
            <tr>
                <th>
                    <input st-search="id" placeholder="請輸入" class="form-control" type="search" />
                </th>
                <th>
                    <input st-search="weaknessid" placeholder="請輸入" class="form-control" type="search" />
                </th>
                <th>
                    <select st-search="priority" class="form-control">
                        <option value="">選擇</option>
                        <option value="Crit">Crit</option>
                        <option value="High">High</option>
                        <option value="Med">Med</option>
                        <option value="Low">Low</option>
                    </select>
                </th>
                <th>
                    <select st-search="device" class="form-control">
                        <option value="">請選擇</option>
                        <option>動態密碼系統AP Server更改IP網段</option>
                        <option>ALM系統資料庫正式機建置需求-AP設計分析十組林宜賢</option>
                        <option>AD與SSO同步用</option>
                        <option>DB Audit 專案微軟 SQL Log 集中保存 Server</option>
                        <option>KM正式機使用</option>
                    </select>
                </th>
                <th>
                    <input st-search="ticketName" placeholder="搜尋弱點名稱" class="form-control" type="search" />
                </th>
                <th>
                    <st-date-range predicate="createDate" before="createDate.before" after="createDate.after" clear-hide="true" menu-right="true" ></st-date-range>
                </th>
                <th>
                    <st-date-range predicate="expectedDate" before="expectedDate.before" after="expectedDate.after" clear-hide="true" menu-right="true" ></st-date-range>
                </th>
                <th>
                    <input st-search="createtimes" placeholder="搜尋數" class="form-control" type="search" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in criticalTicket" ng-click="clickRow(item.id)">
                <td class="align-right">{{item.id}}</td>
                <td class="text-center">{{item.weaknessid}}</td>
                <td><span class="{{item.priority}}">{{item.priority | priorityMapping}}</span></td>
                <td><span class="textcut" uib-tooltip="{{item.device}}" tooltip-placement="bottom-left" tooltip-class="customClass">{{item.device}}</span></td>
                <td><span class="textcut" uib-tooltip="{{item.ticketName}}" tooltip-placement="bottom-left" tooltip-class="customClass"> {{item.ticketName}} </span></td>
                <!-- {{item.ticketName|textCut:true:50:' ...'}} -->
                <td>{{item.createDate}}</td>
                <td>{{item.expectedDate}}</td>
                <td class="text-right">{{item.createtimes}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-template="app/theme/smarttable/pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>