<style>
input.search-input {
    margin-left: -2px;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
}

.table>tbody>tr>td:first-child {
    text-align: right;
}

/* filter左右padding */

tr .form-control {
    padding-left: 2px;
    padding-right: 0px;
}

.table>thead>tr>th {
    padding: 3px;
}
</style>
<div>
    <table class="table table-hover table-textcut " st-table="criticalTicket">
        <thead>
            <tr class="sortable">
                <th st-sort="id" width="5%">編號&nbsp;</th>
                <th st-sort="weaknessid" width="5%">員工編號</th>
                <th st-sort="priority" width="7%">職位</th>
                <th st-sort="device" width="15%">駐點地</th>
                <th st-sort="ticketName" width="55%">員工名稱</th>
                <th st-sort="createDate" width="5%">填寫日</th>
                <th st-sort="expectedDate" width="5%">休假日</th>
                <th st-sort="createtimes" width="3%">重複數</th>
            </tr>
            <tr>
                <th>
                    <input st-search="id" placeholder="請輸入" class="form-control" type="search" />
                </th>
                <th>
                    <input st-search="weaknessid" placeholder="請輸入" class="form-control" type="search" />
                </th>
                <th>
                    <select st-search="priority" class="form-control">
                        <option>PG</option>
                        <option>BOSS</option>
                        <option>Team Leader</option>
                        <option>PM</option>
                        <option>SA</option>
                        <option>SD</option>
                        <option>Salse</option>
                    </select>    
                </th>                               
                <th>
                    <select st-search="device" class="form-control">
                        <option>請選擇駐點</option>
                        <option>HY本部</option>
                        <option>板橋遠傳</option>
                        <option>內湖遠傳</option>
                        <option>玉山</option>
                        <option>兆豐</option>
                    </select>
                </th>
                <th>
                    <input st-search="ticketName" placeholder="請輸入您的姓名"" class="form-control" type="search" />
                </th>
                <th>
                    <st-date-range predicate="createDate" before="createDate.before" after="createDate.after" clear-hide="true" menu-right="true" ></st-date-range>
                </th>
                <th>
                    <st-date-range predicate="expectedDate" before="expectedDate.before" after="expectedDate.after" clear-hide="true" menu-right="true" ></st-date-range>
                </th>
                <th>
                    <input st-search="createtimes" placeholder="當天休假人數" class="form-control" type="search" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in criticalTicket" ng-click="clickRow(item.id)">
                <td class="align-right">{{item.id}}</td>
                <td class="text-center">{{item.weaknessid}}</td>
                <td><span class="{{item.priority}}">{{item.priority | priorityMapping}}</span></td>
                <td><span class="textcut" uib-tooltip="{{item.device}}" tooltip-placement="bottom-left" tooltip-class="customClass">{{item.device}}</span></td>
                <td><span class="textcut" uib-tooltip="{{item.ticketName}}" tooltip-placement="bottom-left" tooltip-class="customClass">{{item.ticketName}}</span></td>
                <td>{{item.createDate}}</td>
                <td>{{item.expectedDate}}</td>
                <td class="text-right">{{item.createtimes}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-template="app/theme/smarttable/pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>