<style>
.form-group {
	margin-bottom: 0px;
}
</style>

<form class="form-horizontal">
	<div class="form-group" class="col-md-12">

		<label class="col-md-2 control-label">嚴重性 </label>
		<div class="col-md-2">
			<div class="col-form-group">
				<select ng-model="inputPriority" class="form-control selectpicker">
						<option>PG</option>
                        <option>BOSS</option>
                        <option>Team Leader</option>
                        <option>PM</option>
                        <option>SA</option>
                        <option>SD</option>
                        <option>Salse</option>
				</select>
			</div>
		</div>
		<label class="col-md-2 control-label">系統別 </label>
		<div class="col-md-2">
			<div class="col-form-item">
				<select ng-model="inputSystemType" class="form-control selectpicker">
						<option>請選擇駐點</option>
                        <option>HY本部</option>
                        <option>板橋遠傳</option>
                        <option>內湖遠傳</option>
                        <option>玉山</option>
                        <option>兆豐</option>
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-info" ng-click="searchCase()">搜尋</button>
			<button type="button" class="btn btn-default" ng-click="cleanCodition()">清除</button>
		</div>
	</div>

</form>