<style>
    /* 覆寫table行高 */
    .table>tbody>tr>td {
        line-height: 25px;
    }

    /* 自定義list符號 ------start------- */
    .custom-ul {
        list-style: none;
        padding: 0;
    }

    /* .custom-ul>li:before {
        content: "\f192";
        font-family: "FontAwesome";
        font-weight: 300;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
    } */
    /* 自定義list符號 ------end------- */

    /* 調整padding並讓子元素以flexbox呈現 */
    .custom-ul>li {
        display: flex;
        font-size: small;
    }

    /* 展開flexbox底下的span的內容，避免換行 */
    .custom-ul>li>span {
        flex-shrink: 0;
    }

    /* 限制資料內容寬度，避免超出邊界 */
    .custom-ul>li>div {
        width: 80%;
        overflow-wrap: break-word;
        padding-left: 5px;
    }

    /* 定義清單用的縮排 */
    .custom-ul>li>.custom-li-indentation {
        padding-right: 0.5em;
    }

    .columtable>tbody {
        border-top: hidden;
    }

    .columtable>tbody>tr>td {
        border-right: 1px solid #e0e0e0;
    }

    /* .columtable>tbody>tr>td>ul {
        padding-left: 1em;
    } */
    .columtable li {
        text-align: left;
    }

    .columtable>tbody>tr>td:last-child {
        border-right: 0px;
    }

    .table-1 th {
        border: 1px solid black;

    }

    .hoverblank:hover .hover {
        display: block;
    }

    .hover {
        border: 1px dotted black;
        display: none;
        background-color: #F0F0F0;
        position: absolute;
        width: 100px;
        z-index: 9999;
        /* position: relative; */
        top: -5px;
        left: 5%;
        border-radius: 20px;
    }

    .hoverblank {

        position: relative;
        display: inline-block;

    }

    .hoverblank1:hover .hover1 {
        display: block;
    }

    .hover1{
        border:1px dotted black;
      display:none;
      background-color: #F0F0F0;
      position: absolute;
      width: 100px;
      z-index:9999;
      /* position: relative; */
      top: -5px;
      left:70%;
      border-radius: 20px;
    }

    .hoverblank1 {

        position: relative;
        display: inline-block;

    }
    .carcolor{
        background-color: silver;
    }

    .carcolor {
        background-color: silver;
    }
</style>

<button class="btn btn-info" ng-click="showAdd()">新增</button>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-textcut" st-table="truckInfo">
                    <thead>
                        <tr class="sortable">
                            <th st-sort="usedDate" style="text-align: center;" width="15%">用車日期</th>
                            <th st-sort="type" style="text-align: center;" width="5%">車型</th>
                            <th st-sort="lincenseNo" style="text-align: center;" width="10%">車號</th>
                            <th style="text-align: center;" width="35%">收獲地點</th>
                            <th style="text-align: center;" width="35%">備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in truckInfo" ng-click="showDetail(row)">
                            <td style="text-align: center;"><span ng-bind-html="dateFormatter(row.usedDate)"></span>
                            </td>
                            <td style="text-align: center;">{{row.type}}</td>
                            <td style="text-align: center;">
                                <span class="textcut" uib-tooltip="{{row.lincenseNo}}" tooltip-placement="bottom-left"
                                    tooltip-class="customClass">{{row.lincenseNo}}</span>
                            </td>
                            <td style="text-align: center;">
                                {{row.terminal}}</td>
                            <td><span class="" uib-tooltip="{{row.remark}}" tooltip-placement="bottom-left"
                                    tooltip-class="customClass">{{row.remark|textCut:true:30:' ...'}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="7" colspan="6">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default" ng-if="selectedData.id">
            <div class="panel-body">
                <table width="100%" class="table columtable">
                    <tr>
                        <td width="10%"
                            style="text-align: center; vertical-align:middle; font-size: large; color: blue;">
                            <span ng-bind-html="dateFormatter(selectedData.usedDate)"></span>
                            <br>
                            {{selectedData.driver}}

                        </td>
                        <td width="65%">
                            <ul class="custom-ul">
                                <li><span
                                        class="custom-li-indentation">車型車號:</span>{{selectedData.type}}&nbsp;{{selectedData.lincenseNo}}
                                </li>
                                <li><span class="custom-li-indentation">起訖地點:</span>
                                    <div style="width: 40%; border-right: 1px solid #e0e0e0;">
                                        起:&nbsp;{{selectedData.starting}}
                                    </div>
                                    <div style="width: 40%;">
                                        訖:&nbsp;{{selectedData.terminal}}
                                    </div>
                                </li>
                                <li><span class="custom-li-indentation">載貨內容:</span>
                                    <div>{{selectedData.cargoContent}}</div>
                                </li>
                                <li><span class="custom-li-indentation">備註:</span>
                                    <div>{{selectedData.remark}}</div>
                                </li>
                            </ul>
                        </td>
                        <td width="25%">
                            <ul class="custom-ul">
                                <li>
                                    <span class="custom-li-indentation">結案:</span>
                                    <div>{{selectedData.arriveTime}}</div>
                                </li>
                                <li>
                                    <span class="custom-li-indentation">回程抵達:</span>
                                    <div>{{selectedData.returnTime}}</div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    <!-- 新增 -->
        <div class="panel panel-default" ng-show="data">
            <div class="panel-body">
                <table width="100%" class="table columtable">
                    <tr style="font-size:12px;">
                        <td width="10%"
                            style="text-align: center; vertical-align:middle; font-size: large; color: blue;">
                            
                                <datepicker-group ng-model='date' maxdate='maxdate' mindate='mindate' clear-hide='true'>	         	
                                </datepicker-group>
                                <input type="time" style="border-radius: 10px;" value="10:00" style="font-size:15px;">
                            
                            <div id="driverAndAss" style="text-align: left;font-size:15px;">駕駛:
                            <select name="driver" id="" style="font-size:15px;border-radius: 10px;">
                                <option value="張三一">張三一</option>
                                <option value="李四五">李四五</option>
                                <option value="李四四">李四四</option>
                                <option value="丁一一">丁一一</option>
                                <option value="丁一二">丁一二</option>
                                <option value="張三二">張三二</option>
                                <option value="張一二">張一二</option>
                                <option value="張一恩">張一恩</option>
                                <option value="林一二">林一二</option>
                                <option value="我一二">我一二</option>
                                <option value="丁十一">丁十一</option>
                            </select>
                            
                        </div>
                        <div  style="text-align: left;">
                            <button onclick="addAss()" class="btn btn-xs btn-danger">增加助手</button>
                        </div>
                        
                        </td>
                        <td width="65%">
                            <ul class="custom-ul">
                                <li>
                                    <div style="width: 53%; border-right: 1px solid #e0e0e0;">
                                        <span
                                        class="custom-li-indentation">車型車號:</span>
                                        <select name="type" id="" style="border-radius: 10px;">
                                            <option value="1.5噸">1.5噸</option>
                                            <option value="2.0噸">2.0噸</option>
                                            <option value="2.5噸">2.5噸</option>
                                            <option value="3.0噸">3.0噸</option>
                                            <option value="3.5噸">3.5噸</option>
                                        </select>
                                        &nbsp;
                                        <select name="lincenseNo" id="" style="border-radius: 10px;">
                                            <option value="KPA-0001">KPA-0001</option>
                                            <option value="KPA-0002">KPA-0002</option>
                                            <option value="KPA-0003">KPA-0003</option>
                                        </select>
                                    </div>
                                        <div  style="width: 40%; border-right: 1px solid #e0e0e0;">
                                            <span  class="custom-li-indentation">地點</span>
                                            <input type="text" style="border-radius: 10px;">
                                        </div>
                                        
                                </li>
                                <li><span class="custom-li-indentation">收貨地點:</span>
                                    &nbsp;<input type="text" value="" name="starting" style="border-radius: 10px;"/>
                                </li>
                                <li>
                                    <span class="custom-li-indentation">送達地點:</span>
                                    &nbsp;<input type="text" value="" name="terimal" style="border-radius: 10px;"/>
                                </li>
                                <li>
                                    
                                    <div>
                                        <span class="custom-li-indentation">載貨內容:</span>
                                        <textarea name="remark" id="" cols="60" rows="3" style="border-radius: 10px;"></textarea>
                                    </div>
                                    <!-- <div style="width: 40%;">
                                        <span class="custom-li-indentation">數量:</span>
                                        <input type="text" value="" name="amount" style="border-radius: 10px;"/>
                                    </div>
                                    <button onclick="addAmount()" class="btn btn-sm btn-danger">+</button> -->
                                
                                </li>
                                <div id="addArea"></div>
                                <li>
                                    <div>
                                        <span class="custom-li-indentation">備註:</span>
                                        <textarea name="remark" id="" cols="60" rows="3" style="border-radius: 10px;"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td width="25%">
                            <ul class="custom-ul">
                                <li>
                                    <span class="custom-li-indentation">結案:</span>
                                </li>
                                <li>
                                    <input type="time" name="" id="" style="border-radius: 10px;" value="18:00">
                                </li>
                                <li>
                                    <span class="custom-li-indentation">回程抵達:</span>
                                </li>
                                <li>
                                    <input type="time" name="" id="" style="border-radius: 10px;" value="18:00">
                                </li>
                                <li><br></li>
                                <li>
                                    <div style="margin-left: 15%;margin-top: 90%;width: 100%;">
                                        <button class="btn btn-warning" ng-click="hideAdd()">取消</button>
                                        <button class="btn btn-info" ng-click="hideAdd()">儲存</button>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

    <div class="col-md-3 column">

        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover table-textcut " st-table="peopleTableData">
                    <thread>
                        <th>
                            <select name="" st-search="status"
                                style="border-style: none;outline: none;margin-left: 30%;text-align: center;text-align-last: center;">
                                <option value="">人員狀態</option>
                                <option value="car">執行業務中</option>
                                <option value="clock">等待出車</option>
                                <option value="nike">排班中</option>
                                <option value="ban">休假中</option>
                            </select>
                            <!-- <input st-search="status" class="input-sm form-control search-input" type="search" /> -->
                        </th>
                    </thread><br>
                    <tbody style="overflow-y: auto;height:170px;display: block;">
                        <tr ng-repeat="item in peopleTableData" style="display: inline-table;">
                            
                            <td style="text-align: center; width:7vw;padding-bottom: 5px;padding-top:5px;"  onclick='go(this.id)' id="person{{item.id}}" class="persontd">
                                <div class="hoverblank">
                                    <img ng-src="{{item.pic}}" alt="" height="15" width="15"/>&nbsp;&nbsp;&nbsp;{{item.username}}
                                    <div class="hover">
                                        {{item.statustext}}<br>
                                        {{item.phone}}<br>
                                        <a href="{{item.elocation}}">eLocation</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-textcut " st-table="carTableData">
                    <thread>
                        <th>
                            <select name="" st-search="status"
                                style="border-style: none;outline: none;margin-left: 30%;text-align: center;text-align-last: center;">
                                <option value="">車輛狀態</option>
                                <option value="car">執行業務中</option>
                                <option value="clock">等待出車</option>
                                <option value="nike">排班中</option>
                                <option value="ban">休假中</option>
                            </select>
                        </th>
                    </thread>
                    <tbody style="overflow-y: auto;height:170px;display: block;">
                        <tr ng-repeat="item in carTableData">
                            <td id="car{{item.id}}" class="cartd" onclick='go2(this.id)' style="padding-bottom: 5px;padding-top:5px;">
                                <div class="hoverblank1">
                                    <img ng-src="{{item.pic}}" alt="" height="15"
                                        width="15" />&nbsp;&nbsp;&nbsp;&nbsp;{{item.firstName}}&nbsp;&nbsp;&nbsp;{{item.lastName}}
                                    <div class="hover1">
                                        {{item.statustext}}<br>
                                        <!-- {{item.phone}}<br> -->
                                        <a href="{{item.elocation}}">eLocation</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function go(id) {
        // alert(status);
        $('.persontd').removeClass("carcolor");
        $('.cartd').removeClass("carcolor");
        var personID='#'+id;
        var carID=personID.replace("person","car");
        $(personID).addClass("carcolor");
        $(carID).addClass("carcolor");
    }

    function go2(id){
        $('.persontd').removeClass("carcolor");
        $('.cartd').removeClass("carcolor");
        var carID='#'+id;
        var personID=carID.replace("car","person");
        $(personID).addClass("carcolor");
        $(carID).addClass("carcolor");
    }
    var count=0;
    function addAss(){
        count+=1;
        if(count>=3){
            alert('助手人數已達上限');
            return;
        }
        var ass=$('<span></span>').append('助手'+count+': &nbsp;');
        var select=$('<select  style="font-size:15px;border-radius: 10px;"></select>').append('<option value="張三二">張三二</option><option value="張三三">張三三</option><option value="張一恩">張一恩</option>');
        var obj=$('<div></div>').append(ass).append(select).appendTo('#driverAndAss');
    }

    function addAmount(){
        var li=$('<li></li>');
        var div=$('<div style="width: 53%;"></div>').append('<span class="custom-li-indentation">載貨內容:</span><input type="text" value="" name="cargoContent" style="border-radius: 10px;"/>');
        var div2=$('<div style="width: 40%;"></div>').append(' <span class="custom-li-indentation">數量:</span><input type="text" value="" name="amount" style="border-radius: 10px;"/>');
        var obj=$('<div></div>').append(li).append(div).append(div2).appendTo('#addArea');
    }
    
</script>
<!--footer-->
<div>
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineCheckbox1">匯出:</label>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">派車便條</label>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">訂購三聯單</label>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">一般帳款</label>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-check form-check-inline">
        <input type="button" class="btn btn-success" type="button" value="確認列印" />
    </div>
</div>