<style>
    /* 覆寫table行高 */
    .table>tbody>tr>td {
        line-height: 25px;
    }

    /* 自定義list符號 ------start------- */
    .custom-ul {
        list-style: none;
        padding: 0;
    }

    /* .custom-ul>li:before {
        content: "\f192";
        font-family: "FontAwesome";
        font-weight: 300;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
    } */
    /* 自定義list符號 ------end------- */

    /* 調整padding並讓子元素以flexbox呈現 */
    .custom-ul>li {
        display: flex;
        font-size: small;
        padding-bottom: 8px;
        line-height: 1.5em;
    }

    /* 展開flexbox底下的span的內容，避免換行 */
    .custom-ul>li>span {
        flex-shrink: 0;
    }

    /* 限制資料內容寬度，避免超出邊界 */
    .custom-ul>li>div {
        width: 80%;
        overflow-wrap: break-word;
        padding-left: 5px;
    }

    .outputSettingGroup {
        vertical-align: text-bottom; 
        font-size: small;
        position: absolute;
        bottom: 0;
        left: 10px;
    }

    /* 定義清單用的縮排 */
    .custom-ul>li>.custom-li-indentation {
        padding-right: 0.5em;
    }

    .custom-ul>li:nth-of-type(even) {
        background-color: #f7f4f4 ;
        padding-top: 8px;
    }
    .custom-ul>li:nth-of-type(odd) {
        padding-top: 8px;
    }

    .columtable>tbody {
        border-top: hidden;
    }

    .columtable>tbody>tr>td {
        border-right: 1px solid #e0e0e0;
    }

    
    /* .columtable>tbody>tr>td>ul {
        padding-left: 1em;
    } */
    .columtable li {
        text-align: left;
    }

    .columtable>tbody>tr>td:last-child {
        border-right: 0px;
    }

    .table-1 th {
        border: 1px solid black;

    }

    .hoverblank:hover .hover {
        display: block;
    }

    .hover {
        border: 1px dotted black;
        display: none;
        background-color: #F0F0F0;
        position: absolute;
        width: 100px;
        z-index: 9999;
        /* position: relative; */
        top: -5px;
        left: 5%;
        border-radius: 20px;
    }

    .hoverblank {

        position: relative;
        display: inline-block;

    }

    .hoverblank1:hover .hover1 {
        display: block;
    }

    .hover1{
        border:1px dotted black;
      display:none;
      background-color: #F0F0F0;
      position: absolute;
      width: 100px;
      z-index:9999;
      /* position: relative; */
      top: -5px;
      left:70%;
      border-radius: 20px;
    }

    .hoverblank1 {

        position: relative;
        display: inline-block;

    }
    .carcolor{
        background-color: silver;
    }

    
</style>

<button class="btn btn-primary" ng-click="showAdd()">新增</button>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-textcut" st-safe-src = "rowCollection" st-table="truckInfo">
                    <thead>
                        <tr class="sortable">
                            <th st-sort="usedDate" style="text-align: center;" width="15%">用車日期</th>
                            <th st-sort="type" style="text-align: center;" width="5%">車型</th>
                            <th st-sort="lincenseNo" style="text-align: center;" width="10%">車號</th>
                            <th style="text-align: center;" width="35%">收貨地點</th>
                            <th style="text-align: center;" width="25%">備註</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(index, row) in truckInfo">
                            <td style="text-align: center;" ng-click="showDetail(row)">
                                <span ng-bind-html="dateFormatter(row.usedDate)"></span>
                            </td>
                            <td style="text-align: center;" ng-click="showDetail(row)">{{row.type}}</td>
                            <td style="text-align: center;" ng-click="showDetail(row)">
                                <span class="textcut" uib-tooltip="{{row.lincenseNo}}" tooltip-placement="bottom-left"
                                    tooltip-class="customClass">{{row.lincenseNo}}</span>
                            </td>
                            <td style="text-align: center;" ng-click="showDetail(row)">
                                {{row.terminal}}</td>
                            <td ng-click="showDetail(row)"><span class="" uib-tooltip="{{row.remark}}" tooltip-placement="bottom-left"
                                    tooltip-class="customClass">{{row.remark|textCut:true:20:' ...'}}</span>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <span style="font-size:15px; cursor: pointer;" ng-click="edit($event,row)" ng-if="index != 1">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <span style="font-size:15px; cursor: pointer;" ng-click="detele($event,row)" ng-if="index != 1">
                                    <i class="fa fa-times"></i>
                                </span>
                                <span style="font-size:15px; cursor: pointer;" ng-if="index == 1">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="7" colspan="6">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- 新增 -->
        <div class="panel panel-default" ng-show="data">
            <uib-tabset class="megabank-theme">
                <uib-tab heading="新增派車作業">
                    <div class="panel-body"  id="insertTable">
                        <table width="100%" class="table columtable">
                            <tr style="font-size:12px;">
                                <td width="20%"
                                    style="text-align: left; vertical-align:middle;">
                                    
                                        <div style="vertical-align: top;">
                                            <!-- <datepicker-group ng-model='date' maxdate='maxdate' mindate='mindate' clear-hide='true' id="insertFormDate">	         	
                                            </datepicker-group> -->
                                            <div style="text-align: left;">
                                                <span style="font-size:15px;color: black;">時間:</span>
                                            </div>
                                            <input type="text" style="border-radius: 10px;font-size:15px;color: black;" value="" id="insertFormTime">
                                            <br><br>
                                            
                                        </div>
                                    <div id="driverAndAss" style="text-align: left;font-size:15px;color: black;width: 150%;">駕駛:
                                    <select name="driver" id="insertFormDriver" style="font-size:15px;color: black;border-radius: 10px;">
                                        <option value="張三一">張三一</option>
                                        <option value="李四五">李四五</option>
                                        <option value="李四四">李四四</option>
                                        <option value="丁一一">丁一一</option>
                                        <option value="丁一二">丁一二</option>
                                        <option value="張三二">張三二</option>
                                        <option value="張一二">張一二</option>
                                        <option value="張一恩">張一恩</option>
                                        <option value="林一二">林一二</option>
                                        <option value="我一二">我一二</option>
                                        <option value="丁十一">丁十一</option>
                                    </select>
                                    
                                </div>
                                <div  style="text-align: left;" >
                                    <button onclick="addAss()" class="btn btn-xs btn-primary" id="addAssDiv" ng-click="addAsst()">增加助手</button>
                                    <button onclick="deleteAss()" class="btn btn-xs btn-primary" id="deleteAssButton" ng-click="reduceAsst()">減少助手</button>
                                </div>
                                
                                </td>
                                <td width="55%">
                                    <ul class="custom-ul">
                                        <li>
                                            <div style="width: 60%; border-right: 1px solid #e0e0e0;">
                                                <span class="custom-li-indentation" style="font-size: 14px;">車型車號:</span>
                                                <select name="type" id="carWeight" style="border-radius: 10px;">
                                                    <option value="1.5噸">1.5噸</option>
                                                    <option value="2.0噸">2.0噸</option>
                                                    <option value="2.5噸">2.5噸</option>
                                                    <option value="3.0噸">3.0噸</option>
                                                    <option value="3.5噸">3.5噸</option>
                                                </select>
                                                &nbsp;
                                                <select name="lincenseNo" id="carLincense" style="border-radius: 10px;">
                                                    <option value="KPA-0001">KPA-0001</option>
                                                    <option value="KPA-0002">KPA-0002</option>
                                                    <option value="KPA-0003">KPA-0003</option>
                                                </select>
                                            </div>
                                                <div  style="width: 40%; border-right: 1px solid #e0e0e0;">
                                                    <span  class="custom-li-indentation">地點</span>
                                                    <select name="type" id="carLocation" style="border-radius: 10px;">
                                                        <option value="台北">台北</option>
                                                        <option value="林口">林口</option>
                                                    </select>
                                                </div>
                                                
                                        </li>
                                        <li>&nbsp;
                                            <span class="custom-li-indentation">收貨地點:</span>
                                            <input type="text" value="" name="starting" style="border-radius: 10px;" placeholder="請填入收貨地點" id="receiveLocation" size="50">
                                        </li>
                                        <li>&nbsp;
                                            <span class="custom-li-indentation">送達地點:</span>
                                            <input type="text" value="" name="terimal" style="border-radius: 10px;" placeholder="請填入送達地點" id="arriveLocation" size="50"/>
                                        </li>
                                        <li>
                                            <div style="width: 100%;">
                                            <div style="border-right: 1px solid #e0e0e0;text-align: left;" id="addArea">
                                            
                                                <span class="custom-li-indentation">載貨內容:</span>
                                                <input type="text" name="cargoContent" style="border-radius: 10px;" placeholder="請填入載貨物品" id="itemContent"/>
                                            
                                                <span class="custom-li-indentation">數量:</span>
                                                <input type="number" name="amount" style="border-radius: 10px;width: 10%;" value="1" min="1" id="itemAmount"/>
                                            
                                            </div>
                                            <div style="text-align: left;">
                                                <button onclick="addAmount()" class="btn btn-xs btn-primary">新增種類</button>
                                                <button onclick="removeAmount()" class="btn btn-xs btn-primary" id="removeItemButton">刪除種類</button>
                                            </div>
                                            </div>
                                        </li>
                                        <!-- <div id="addArea" style="width: 100%; border-right: 1px solid #e0e0e0;"></div> -->
                                        <li>
                                            <div>
                                                <span class="custom-li-indentation">備註:</span>
                                                <textarea name="remark" id="insertFormTextArea" cols="60" rows="3" style="border-radius: 10px;"></textarea>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td width="25%">
                                    <ul class="custom-ul">
                                        <li>
                                            <span class="custom-li-indentation">結案:</span>
                                        </li>
                                        <li>
                                            <input type="text" name="" id="insertFormCloseTime" style="border-radius: 10px;" value="">
                                        </li>
                                        <li>
                                            <span class="custom-li-indentation">回程抵達:</span>
                                        </li>
                                        <li>
                                            <input type="text" name="" id="insertFormArriveTime" style="border-radius: 10px;" value="">
                                        </li>
                                    </ul>
                                        <br><br><br>
                                        
                                            <div style="text-align: right;vertical-align: bottom;width: 100%;">
                                                <button class="btn btn-sm" style="border:1px #009393 solid;color:#6C6C6C;background-color: white;" ng-click="hideAdd()" onclick="resetInsertForm()">取消</button>
                                                <button class="btn btn-sm btn-primary" ng-click="hideAdd()" onclick="resetInsertForm()">儲存</button>
                                            </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <script>
                        $('#insertFormTime').datetimepicker({
                                // format:'yy/m/d A H:i',
                                format: 'Y/m/d H:i',
                                step: 30,
                            });
                            $('#insertFormCloseTime,#insertFormArriveTime').datetimepicker({
                            datepicker:false,
                            format:'A H:i',
                            step: 30,
                            });

                            var count=0;
                            var itemCount=1;
                            function resetInsertForm(){
                                $('#insertFormTime').val('');
                                // $('#insertFormDate').val();
                                $('#insertFormDriver').val('張三一');
                                $('#carWeight').val('1.5噸');
                                $('#carLincense').val('KPA-0001');
                                $('#carLocation').val('台北');
                                $('#receiveLocation').val('');
                                $('#arriveLocation').val('');
                                $('#itemContent').val('');
                                $('#itemAmount').val('1');
                                $('#insertFormTextArea').val('');
                                $('#insertFormCloseTime').val('');
                                $('#insertFormArriveTime').val('');
                                if(itemCount!==1){
                                    var cutTime=itemCount-1;
                                    for(let i=1;i<=cutTime;i++){
                                        removeAmount();
                                    }
                                }
                                if(count!==0){
                                    var cutAsst=count;
                                    for(let i=1;i<=cutAsst;i++){
                                        deleteAss();
                                    }
                                    count=0;
                                }

                            }

                            function go(id) {
                                // alert(status);
                                $('.persontd').removeClass("carcolor");
                                $('.cartd').removeClass("carcolor");
                                var personID='#'+id;
                                var carID=personID.replace("person","car");
                                $(personID).addClass("carcolor");
                                $(carID).addClass("carcolor");
                            }

                            function go2(id){
                                $('.persontd').removeClass("carcolor");
                                $('.cartd').removeClass("carcolor");
                                var carID='#'+id;
                                var personID=carID.replace("car","person");
                                $(personID).addClass("carcolor");
                                $(carID).addClass("carcolor");
                            }

                            $('#deleteAssButton').hide();
                            function addAss(){
                                count++;
                                $('#deleteAssButton').show();
                                var ass=$('<span class="initAss"></span>').append('助手'+count+': &nbsp;');
                                var select=$('<select class="initAss" style="font-size:15px;border-radius: 10px;"></select>').append('<option value="張三二">張三二</option><option value="張三三">張三三</option><option value="張一恩">張一恩</option>');
                                var obj=$('<div></div>').append(ass).append(select).appendTo('#driverAndAss');
                                if(count>=2){
                                    // alert('助手人數已達上限');
                                    var exceedText=$('<span style="color:red;">助手人數已達上限</span>')
                                    var exceedDiv=$('<div></div>').append(exceedText).appendTo('#driverAndAss');
                                    $('#addAssDiv').hide();
                                    
                                }
                            }

                            function deleteAss(){
                                if(count==2){
                                    $('#driverAndAss').children().last().remove();
                                }
                                count--;
                                $('#addAssDiv').show();
                                if(count<1){
                                    $('#deleteAssButton').hide();
                                }
                                $('#driverAndAss').children().last().remove();
                            }


                            function addAmount(){
                                itemCount++;
                                $('#addArea').append('<br><span class="custom-li-indentation">載貨內容: </span><input type="text"  name="cargoContent" style="border-radius: 10px;" placeholder="請填入載貨物品"/><span class="custom-li-indentation"> 數量: </span><input type="number" name="amount" style="border-radius: 10px;width: 10%;" value="1" min="1"/>');
                                if(itemCount>1){
                                    $('#removeItemButton').show();
                                }
                            }

                            $('#removeItemButton').hide();
                            function removeAmount(){
                                if(itemCount>1){
                                $('#addArea').children().last().remove();
                                $('#addArea').children().last().remove();
                                $('#addArea').children().last().remove();
                                $('#addArea').children().last().remove();
                                $('#addArea').children().last().remove();
                                itemCount--;
                                }
                                if(itemCount==1){
                                    $('#removeItemButton').hide();
                                }
                                
                            }
                    </script>
                </uib-tab>
                <uib-tab heading="新增金額細項">
                    <div class="row">
                        <div style="width: 60%;text-align: center;margin-left: 35%;">
                            <table>
                                <tr>
                                    <td>
                                        <span class="custom-li-indentation">車輛成本: </span>
                                    </td>
                                    <td>
                                        <input type="text" style="border-radius: 10px;" class="extraVal">
                                    </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                        <td>
                                            <span class="custom-li-indentation">駕駛: </span>
                                        </td>
                                        <td>
                                            <input type="text" style="border-radius: 10px;" class="extraVal">
                                        </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr id="asst1" ng-show="asstCount>=1">
                                    <td>
                                        <span class="custom-li-indentation">助手1: </span>
                                    </td>
                                    <td>
                                        <input type="text" style="border-radius: 10px;" class="extraVal"> 
                                    </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr id="asst2" ng-show="asstCount>=2">
                                    <td>
                                        <span class="custom-li-indentation">助手2: </span>
                                    </td>
                                    <td>
                                        <input type="text" style="border-radius: 10px;" class="extraVal">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width: 40%; margin-left: 45%;">
                            <div style="text-align: right;vertical-align: bottom;width: 100%;">
                                <button class="btn btn-sm" style="border:1px #009393 solid;color:#6C6C6C;background-color: white;" ng-click="hideAddPage2()" onclick="resetInsertExceedForm()">取消</button>
                                <button class="btn btn-sm btn-primary" ng-click="hideAddPage2()" onclick="resetInsertExceedForm()">儲存</button>
                            </div>
                        </div>
                    </div>
                    <script>
                        function resetInsertExceedForm(){
                            $('.extraVal').val('');
                        }
                    </script>
                </uib-tab>
            </uib-tabset>
        </div>

        
        <div ng-if="selectedData.id">
            <uib-tabset active="$tabSetStatus.activeTab" class="megabank-theme">
                <uib-tab heading="{{isEditMode ? '修改派車資訊':'派車資訊'}}">
                    <div ng-include="'app/pages/waitRescanDeal/detailTab/carDetail.html'"></div>
                </uib-tab>
                <uib-tab heading="金額細項">
                    <div ng-include="'app/pages/waitRescanDeal/detailTab/amountDetail.html'">
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    


    </div>

    <div class="col-md-3 column">

        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover table-textcut " st-table="peopleTableData">
                    <thread>
                        <th>
                            <select name="" st-search="status"
                                style="border-style: none;outline: none;margin-left: 30%;text-align: center;text-align-last: center;">
                                <option value="">人員狀態</option>
                                <option value="car">執行業務中</option>
                                <option value="clock">等待出車</option>
                                <option value="nike">排班中</option>
                                <option value="ban">休假中</option>
                            </select>
                            <!-- <input st-search="status" class="input-sm form-control search-input" type="search" /> -->
                        </th>
                    </thread><br>
                    <tbody style="overflow-y: auto;height:170px;display: block;">
                        <tr ng-repeat="item in peopleTableData" style="display: inline-table;">
                            
                            <td style="text-align: center; width:7vw;padding-bottom: 5px;padding-top:5px;"  onclick='go(this.id)' id="person{{item.id}}" class="persontd">
                                <div class="hoverblank">
                                    <img ng-src="{{item.pic}}" alt="" height="15" width="15"/>&nbsp;&nbsp;&nbsp;{{item.username}}
                                    <div class="hover">
                                        {{item.statustext}}<br>
                                        {{item.phone}}<br>
                                        <a href="{{item.elocation}}">eLocation</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-textcut " st-table="carTableData">
                    <thread>
                        <th>
                            <select name="" st-search="status"
                                style="border-style: none;outline: none;margin-left: 30%;text-align: center;text-align-last: center;">
                                <option value="">車輛狀態</option>
                                <option value="car">執行業務中</option>
                                <option value="clock">等待出車</option>
                                <option value="nike">排班中</option>
                                <option value="ban">休假中</option>
                            </select>
                        </th>
                    </thread>
                    <tbody style="overflow-y: auto;height:170px;display: block;">
                        <tr ng-repeat="item in carTableData">
                            <td id="car{{item.id}}" class="cartd" onclick='go2(this.id)' style="padding-bottom: 5px;padding-top:5px;">
                                <div class="hoverblank1" style="text-align: left;width: 100%;">
                                    <img ng-src="{{item.pic}}" alt="" height="15"
                                        width="15" />&nbsp;&nbsp;&nbsp;&nbsp;{{item.firstName}}&nbsp;&nbsp;&nbsp;{{item.lastName}}
                                    <div class="hover1" style="text-align: center;">
                                        {{item.statustext}}<br>
                                        <!-- {{item.phone}}<br> -->
                                        <a  href="{{item.elocation}}">eLocation</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


