<nav>
    <ul class="pagination" ng-if="pages.length >= 2 ">

        <li ng-if="currentPage-2>0 &&!(numPages<=5)">
            <a  ng-click="selectPage(1)"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li ng-if="(currentPage>2) &&!(numPages<=5)">
            <a ng-click="selectPage(currentPage - 1)"><i class="fa fa-angle-left"></i></a>
        </li>

        <!--number-->
        <li ng-if="currentPage-3>0 && currentPage==numPages">
            <a ng-click="selectPage(currentPage - 3)">{{currentPage-3}}</a>
        </li>
        <li ng-if="currentPage-2>0 ">
            <a ng-click="selectPage(currentPage - 2)">{{currentPage-2}}</a>
        </li>
        <li ng-if="currentPage-1>0">
            <a ng-click="selectPage(currentPage - 1)">{{currentPage-1}}</a>
        </li>
        <li class="active">
            <a>{{currentPage}}</a>
        </li>
        <li ng-if="currentPage+1<=numPages">
            <a ng-click="selectPage(currentPage + 1)">{{currentPage+1}}</a>
        </li>
        <li ng-if="currentPage+2<=numPages">
            <a ng-click="selectPage(currentPage + 2)">{{currentPage+2}}</a>
        </li>
        <li ng-if="currentPage+3<=numPages && currentPage==1">
            <a ng-click="selectPage(currentPage + 3)">{{currentPage+3}}</a>
        </li>


        <li ng-if="currentPage<numPages-1 &&!(numPages<=5)">
            <a ng-click="selectPage(currentPage + 1)"><i class="fa fa-angle-right"></i></a>
        </li>
        <li ng-if="currentPage+2<=numPages  &&!(numPages<=5)">
            <a ng-click="selectPage(numPages)"><i class="fa fa-angle-double-right"></i></a>
        </li>

        <li class="text">
            <a>{{currentPage}} of {{numPages}} <st-summary></st-summary></a>
        </li>
    </ul>
</nav>