<style>
input.search-input {
    margin-left: -2px;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 60px;
}
</style>
<!-- <div class="horizontal-scroll"> -->
<!-- 	<div class="form-group"> -->
<!-- 		<label>每頁顯示</label> <select class="selectpicker" selectpicker -->
<!-- 			ng-model="checkingListSize" -->
<!-- 			ng-options="i for i in [5,10,15,20,25]"> -->
<!-- 		</select>  -->
<!-- 		<label>筆</label> -->
<!-- 	</div> -->
<table class="table table-condensed table-hover" st-table="criticalTicket">
    <thead>
        <tr class="sortable">
	      <th st-sort="createDate" width="8%" >日期</th>
	      <!-- <th st-sort="status" width="8%" >駐點地</th> -->
	      <th st-sort="lastName" width="12%" >假別</th>
	      <th st-sort="ticketName" width="64%">事由</th> 
	      <th st-sort="handler" width="8%" >申請人</th>  
        </tr>
        <tr>
            <th>
                <input st-search="createDate" placeholder="搜尋日期" class="input-sm form-control search-input" type="search" />
            </th>
            <!-- <th>
                <input st-search="type" placeholder="駐點地" class="input-sm form-control search-input" type="search" />
            </th> -->
            <th>
                <select st-search="lastName" class="input-sm form-control search-input">
                    <option value="">請選擇</option>
                    <option value="特休">特休</option>
                    <option value="事假">事假</option>
                    <option value="支薪病假">支薪病假</option>
                    <option value="不支薪病假">不支薪病假</option>
                    <option value="預支假">預支假</option>
                </select>
            </th>
            <th>
                <input st-search="ticketName" placeholder="搜尋事由" class="input-sm form-control search-input" type="search" />
            </th>
            <th>
                <input st-search="handler" placeholder="申請人" class="input-sm form-control search-input" type="search" />
            </th>
        </tr>
    </thead>
    <tbody>
        <!--弱點編號 簽核類別 弱點層級 弱點名稱 申請人-->
        <tr ng-repeat="item in criticalTicket" ng-click="clickRow(item.status)">
            <!--<td class="table-id">{{item.id}}</td> -->
            <td class="table-id">{{item.createDate }}</td>
            <!-- <td class="table-id">{{item.status}}</td> -->
            <!-- <td><span ng-class="item.priority">{{item.priority  | priorityMapping}}</span></td>
             -->
             <td>{{item.lastName}}</td>
            <td>{{item.ticketName}}</td>
            <td>{{item.handler}}</td>
        </tr>
    </tbody>
    <!-- 分頁 -->
    <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="10"  st-template="app/theme/smarttable/pagination.html"></div>
            </td>
        </tr>
    </tfoot>
</table>
<!-- </div> -->